<h1><%= @user.email %>, Welcome to StockApp</h1>
<br/>
<p>
  Now you can manage your Stock in a simple way!<br/>
  <br/>
  Thank you very much!!!<br/>
  StockApp Team
</p>

<%= link_to "Back to the Application Home" , root_url %>
